

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 5px !important;
    padding: 20px;
    background-image: url("./images/highres.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.header-container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    position: relative;
}

.header {
    position: relative;
    height: 90px;
    padding: 15px;
    background-color: #ff4c4c;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.hTxt {
    flex-grow: 1;
    word-wrap: break-word;
    margin-right: 20px;
    color: white;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    max-width: calc(100% - 150px);
}

.header img {
    position: absolute;
    top: 5px;
    right: 10px;
    bottom: 5px;
    max-width: 130px;
    height: auto;
    border-radius: 10px;
}

/* Print Specific Styles */
@media print {
    .header-container {
        width: 100%;
        max-width: 1200px; 
        margin: 0 auto;
    }

    .header {
        position: relative;
        height: auto; 
        padding: 15px;
        background-color: #ff4c4c !important;
    }

    .hTxt {
        flex-grow: 1;
        word-wrap: break-word;
        margin-right: 20px;
        color: white;
        border-radius: 10px;
        padding: 6px;
        text-align: center;
        max-width: calc(100% - 150px); 
        transform: none; 
    }

    .header img {
        position: absolute;
        top: 5px;
        right: 10px;
        bottom: 5px;
        max-width: 130px;
        height: auto;
        border-radius: 10px;
        z-index: 10;
    }

    #companiesSection .company-logo,
    #companyList .company-logo {
        max-height: 100px;
        height: auto;
    }

    .row {
        page-break-inside: avoid;
    }
}





.call-link,
.email-link,
.website-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 12px;
}



/* Delete Button */
.delete-btn {
    position: absolute;
    top: 10px;
    margin-left: 130px !important;
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}

.delete-btn:hover {
    background-color: #f8d7da;
}

/* Footer */
.footer {
    padding: 5px;
    color: white;
    text-align: center;
    background-color: #ff4c4c;
    margin: 0;
}

.footer p {
    margin: 3px 0;
}

.green-icon {
    margin: 2px;
    padding: 3px;
    color: white;
    background-color: green;
    border-radius: 10px;
}

.white-icon {
    margin: 2px;
    padding: 3px;
    color: red;
    background-color: white;
    border-radius: 10px;
}

/* Form Section */
.companyFS {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.2);
}

#CFSsty {
    font-weight: bold;
    text-align: center;
    background-image: url(./images/txtmasking.jpeg);
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.comp_label_sty {
    font-weight: bold;
    color: rgb(32, 52, 111);
}

/* Dropzone */
#dropzone {
    width: 250px;
    height: 150px;
    padding: 10px;
    border: 2px dashed #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

#dropzone img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}


.hidden-input {
    display: none;
}

/* Media Queries */
@media (max-width: 1200px) {
    .header {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

   
    .hTxt {
        flex-grow: 1;
        word-wrap: break-word;
        margin-right: 20px;
        color: white;
        border-radius: 10px;
        padding: 6px;
        text-align: center;
        max-width: calc(100% - 150px); 
        transform: none; 
    }

    .hdr-sty {
        position: static;
        margin: 0;
    }

    #companyList {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer .col-4 {
        text-align: center;
    }
    .companyFS {
        background-image: url(./images/mediumScreenBackground.jpeg);
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 768px) {
    .header {
        height: auto;
        padding: 10px;
    }

    .hTxt {
        flex-grow: 1;
        word-wrap: break-word;
        margin-right: 20px;
        color: white;
        border-radius: 10px;
        padding: 6px;
        text-align: center;
        max-width: calc(100% - 150px); 
        transform: none; 
    }

    #companyList {
        grid-template-columns: 1fr;
    }

    #companyList .company-content img {
        max-width: 100px;
    }

    #companiesSection .company-content img {
        max-width: 140px;
    }
    .companyFS {
        background-image: url(./images/smallscrn.jpeg);
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 5px;
        font-size: 18px;
    }

    .hTxt {
        flex-grow: 1;
        word-wrap: break-word;
        margin-right: 20px;
        color: white;
        border-radius: 10px;
        padding: 6px;
        text-align: center;
        max-width: calc(100% - 150px); 
        transform: none; 
    }

    .hdr-sty {
        max-width: 120px;
    }
    .companyFS {
        background-image: url(./images/mobback.jpeg);
        background-size: cover;
        background-position: center;
    }
}


.sty12 {
    
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}


@media print {

    .company-logo {
        max-height: 100px;
        height: auto;
    }

    .row {
        page-break-inside: avoid;
    }
}

@media (max-width: 768px) {

    .company-logo {
        max-width: 100%;
    }
}

#companyList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#companyList .company {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}

#companyList .company-content img {
    max-width: 100px;
    height: auto;
    object-fit: contain;
}

#companyList .company-logo {
    max-width: 100px;
    height: auto;
}

#companyList .delete-btn {
    top: 10px;
    left: 10px;
    margin-left: 0;
}

/* Final Company Section */
#companiesSection .company {
    border: 2px solid #3d91eb;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}


#companiesSection .delete-btn {
    top: 10px;
    left: 10px;
    margin-left: 0;
}

/* Shared Styles */
.company-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.company-item {
    text-align: center;
}

.company-content,
.technologies {
    z-index: 1;
}


/* processing */
.company {
    cursor: grab;
}

.company:active {
    cursor: grabbing;
}

.dragging {
    opacity: 0.5;
    border: 2px dashed #007bff;
}

/* Container for each company */
.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    width: 250px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Flex container for company content */
.company-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%; 
    margin-bottom: 10px;
}
/* Container for the image */
.company-logo-container {
    width: 160px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
 
    border-radius: 8px;
    overflow: hidden;
}

/* Image styling to make sure it fits within container */
.company-logo-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    background-color: #fff;
    margin: 3px;
}



/* Title styling */
.title {
    font-size: 16px;
    font-weight: bold;
    color:black;
    text-align: center;
    margin: 0;
    width: 100%;
}

/* Technologies section styling */
.technologies {
    font-size: 14px;
    color:black;
    text-align: center;
    width: 100%; 
}
